body {
  background-image: url(/CSS/paper_background.png);
  background-size: auto;
  background-repeat: repeat-y;
  background-attachment: fixed;
  width: 100vw;
  text-align: center;
}

.headers{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{ 
  font-family: 
  "Century Schoolbook",
  "Libre Baskerville",
  "New Century Schoolbook",
  "Bookman Old Style",
  Bookman,
  Georgia, 
  'Lora', 
  'Lucida Sans Unicode', 
  'Lucida Grande',
  'Lucida Sans', 
  Arial, 
  sans-serif;

  max-width: 90ch;
  margin: 0.6em auto;
  text-align: left;
  line-height: 1.7;
  font-size: 1.125rem;
  font-weight: 400;
  color: #000;
  padding: 0.35em 0.6em;
  border-radius: 4px;
  letter-spacing: 0;

}
